.container {
  /* border: 1px solid red; */
  margin-top: 30px;
}
.book-frame {
  margin-left: 150px;
  width: 60%;
}
.book-container {
  display: flex;
  /* margin-left: 10%; */
  width: 100%;
  height: 300px;
  border: 1px solid rgba(128, 128, 128, 0.511);
  border-radius: 20px;
  padding: 20px 30px;
  margin-bottom: 30px;
  word-wrap: break-word;
}
input[type='checkbox'] {
  width: 25px;
}
.book-img {
  width: 200px;
  height: 100%;
}
.book-img img {
  width: 100%;
  height: 100%;
  cursor: pointer;
  transition: 0.3s;
}
.book-img img:hover {
  cursor: pointer;
  transform: perspective(1000px) rotateY(-30deg);
  transform-origin: 0px center;
  box-shadow: 10px 0px 5px rgba(128, 128, 128, 0.405);
}

h5 {
  margin: 0;
  font-size: 24px;
}
.shop {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.shop .price {
  font-size: 24px;
}
.explain {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex: 3;
  margin-left: 10px;
}

.explain span {
  /* 한 줄 자르기 */
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  /* 여러 줄 자르기 추가 스타일 */
  white-space: normal;
  text-align: left;
  word-wrap: break-word;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  font-size: 16px;
}
.goods {
  margin: 20px;
  font-size: 24px;
}
.payment {
  background-color: white;
  position: fixed;
  width: 400px;
  top: 50%;
  box-sizing: border-box;
  transform: translateY(-50%);
  right: 0;
  margin-right: 50px;
  border: 1px solid gray;
  box-shadow: 5px 5px 20px rgba(128, 128, 128, 0.511);
}
.item-list {
  min-height: 500px;
  box-sizing: border-box;
  border-top: 1px solid black;
  margin-top: 10px;
  font-size: 8px;
}
.item-list div {
  margin-top: 10px;
  font-size: 16px;
}
.paybutton {
  text-align: center;
  background-color: crimson;
  color: white;
  padding: 10px 0px;
}
.paybutton:hover {
  cursor: pointer;
}
.module-container {
  margin-top: 0;
  height: 100vh;
  top: 0;
  background-color: rgba(45, 45, 45, 0.3);
  display: flex;
  position: fixed;
  justify-content: center;
  align-items: center;
  z-index: 100;
}
.module {
  display: flex;
  background-color: white;
  width: 70%;
  height: 60vh;
  padding: 50px 40px;
  gap: 20px;
}
.module-image {
  height: 100%;
  border: 1px solid gray;
}
.module-image img {
  height: 100%;
}
.module-explain {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.module-explain .title {
  font-size: 30px;
  color: #eb217c;
}
.module-explain .price {
  font-size: 24px;
}
.module-explain .summary {
  font-size: 16px;
  line-height: 24px;
}
.final-price {
  border-top: 1px solid black;
  padding: 20px 0px;
}
.hidden {
  display: none;
}
.button-frame {
  display: flex;
  gap: 20px;
  justify-content: center;
  margin-bottom: 20px;
}
.checkDelete,
.allDelete {
  width: 150px;
  font-size: 18px;
}
